@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
}

@theme inline {
  --chalk: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
    --font-serif: var(--font-newsreader);
}

body {
  @apply font-serif text-(--color-foreground) bg-(--chalk);
}
.book-card {
  transition: all 0.3s;
  background: linear-gradient(180deg, rgba(142, 81, 255, 0.08) 0%, rgba(0, 0, 0, 0) 71%);
}

.book-row {
  transition: all 0.3s;
  background: linear-gradient(90deg, rgba(142, 81, 255, 0.08) 0%, rgba(0, 0, 0, 0) 71%);
}

.book-card:hover,
.book-row:hover {
  @apply bg-violet-200;
}

.aspect-ratio-250-400 {
  aspect-ratio: 314/475;
}

.genre-label {
  box-shadow: 1px 1px 4px #8e51ff;
}